<%= simple_form_for [:dashboard, @exercise] do |f| %>
  <% if @exercise.errors.any? %>
    <div class="workout-error alert alert-danger">
        <strong>Workout cannot be saved. Please see <%= pluralize(@exercise.errors.count, "error")%> below:</strong>
        <ul>
        <% @exercise.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
    </div>
  <% end %>
  <%= f.input :duration, label: "Duration *" %>
    <div class="row">
      <div class="col-md-10">
        <%= f.input :workout,
        priority: [ "Weight Lifting" ],
        collection: [ "Weight Lifting", "Jogging / Running", "Bicycling", "Aerobics", "MMA / Boxing" ],
        label: "Workout *"
        %>
      </div>
      <div class="col-md-2">
        <%= f.input :workout_date, as: :string, input_html: { id: "datepicker" }, label: "Workout Date *" %>
      </div>
    </div>
  <%= f.button :submit, class: "btn worqawt-button" %>
<% end %>
