<!DOCTYPE html>
<html>
  <head>
    <title>Worqawt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% if !flash.empty? %>
      <% flash.each do |key, value| %>
        <section class="warning-messages">
          <div class="alert alert-<%= key == "alert" ? "danger" : "info" %>">
            <%= value %>
          </div>
        </section>
      <% end %>
    <% end %>

    <% if !current_page?(root_path) %>
      <div class="container">
    <% else %>
      <div>
    <% end %>
      <%= yield %>
      </div>
  </body>
</html>
